<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `link` tags, or asynchronously
        on the client using a solution like AMD (RequireJS).  Or, if you like, you can
        take advantage of Sails' boilerplate asset management.

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically.  Both CSS (.css) and LESS (.less) are supported.
        In production, your styles will be minified and concatenated into a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/vendor/_bootstrap.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap_slider.css">
    <link rel="stylesheet" href="/styles/vendor/calendar.css">
    <link rel="stylesheet" href="/styles/vendor/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/styles/vendor/font-awesome.css">
    <link rel="stylesheet" href="/styles/vendor/metisMenu.css">
    <link rel="stylesheet" href="/styles/vendor/morris.css">
    <link rel="stylesheet" href="/styles/vendor/sb-admin-2.css">
    <link rel="stylesheet" href="/styles/vendor/social-buttons.css">
    <link rel="stylesheet" href="/styles/vendor/spinner.css">
    <link rel="stylesheet" href="/styles/vendor/timeline.css">
    <link rel="stylesheet" href="/styles/bamboo.css">
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/todos.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

    		HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically.
        
        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your templates using a server-side stringfile
              before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' boilerplate asset management.

      By default, filesin your `assets/linker/js` folder are included here
      automatically.  Both JavaScript (.js) and CoffeeScript (.coffee) are supported.
      In production, your scripts will be minified and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/scripts/vendor/socket.io.js"></script>
    <script src="/scripts/vendor/sails.io.js"></script>
    <script src="/scripts/vendor/app.js"></script>
    <script src="/scripts/vendor/$.js"></script>
    <script src="/scripts/vendor/_.js"></script>
    <script src="/scripts/vendor/backbone.js"></script>
    <script src="/scripts/vendor/backbone_actas_mementoable.js"></script>
    <script src="/scripts/vendor/backbone_associations.js"></script>
    <script src="/scripts/vendor/backbone_cocktail.js"></script>
    <script src="/scripts/vendor/backbone_localStorage.js"></script>
    <script src="/scripts/vendor/backbone_marionette.js"></script>
    <script src="/scripts/vendor/backbone_marionette_subrouter.js"></script>
    <script src="/scripts/vendor/backbone_memento.js"></script>
    <script src="/scripts/vendor/backbone_picky.js"></script>
    <script src="/scripts/vendor/backbone_stickit.js"></script>
    <script src="/scripts/vendor/backbone_validation.js"></script>
    <script src="/scripts/vendor/bootbox.js"></script>
    <script src="/scripts/vendor/bootstrap.js"></script>
    <script src="/scripts/vendor/bootstrap_btn_checkbox.js"></script>
    <script src="/scripts/vendor/bootstrap_contextmenu.js"></script>
    <script src="/scripts/vendor/bootstrap_hover_dropdown.min.js"></script>
    <script src="/scripts/vendor/bootstrap_slider.js"></script>
    <script src="/scripts/vendor/calendar.js"></script>
    <script src="/scripts/vendor/classie.js"></script>
    <script src="/scripts/vendor/jquery_dataTables.js"></script>
    <script src="/scripts/vendor/jquery_dataTables_bootstrap.js"></script>
    <script src="/scripts/vendor/jquery_jfeed.js"></script>
    <script src="/scripts/vendor/jquery_metisMenu.js"></script>
    <script src="/scripts/vendor/jst.js"></script>
    <script src="/scripts/vendor/metronic.js"></script>
    <script src="/scripts/vendor/moment.js"></script>
    <script src="/scripts/vendor/morris.js"></script>
    <script src="/scripts/vendor/snap.svg_min.js"></script>
    <script src="/scripts/vendor/spin.js"></script>
    <script src="/scripts/vendor/spin_jquery.js"></script>
    <script src="/scripts/vendor/svgLoader.js"></script>
    <script src="/scripts/vendor/underscore_string.js"></script>
    <script src="/scripts/config/backbone/mixins.js"></script>
    <script src="/scripts/config/backbone/router.js"></script>
    <script src="/scripts/config/backbone/sync.js"></script>
    <script src="/scripts/config/backbone/wreqr.js"></script>
    <script src="/scripts/config/cocktail/mixins.js"></script>
    <script src="/scripts/config/javascript.js"></script>
    <script src="/scripts/config/marionette/application.js"></script>
    <script src="/scripts/config/marionette/regions/breadcrumbs.js"></script>
    <script src="/scripts/config/marionette/regions/dialogs.js"></script>
    <script src="/scripts/config/marionette/regions/flashes.js"></script>
    <script src="/scripts/config/marionette/regions/nowrap.js"></script>
    <script src="/scripts/config/marionette/renderer.js"></script>
    <script src="/scripts/config/module.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/_base_controller.js"></script>
    <script src="/scripts/entities/_base/_utilities.js"></script>
    <script src="/scripts/entities/_base/collections.js"></script>
    <script src="/scripts/entities/_base/models.js"></script>
    <script src="/scripts/entities/_core/breadcrumbs.js"></script>
    <script src="/scripts/entities/_core/buttons.js"></script>
    <script src="/scripts/entities/_core/flashes.js"></script>
    <script src="/scripts/entities/_core/links.js"></script>
    <script src="/scripts/entities/apps.js"></script>
    <script src="/scripts/entities/documents.js"></script>
    <script src="/scripts/entities/files.js"></script>
    <script src="/scripts/entities/folders.js"></script>
    <script src="/scripts/entities/groups.js"></script>
    <script src="/scripts/entities/movies.js"></script>
    <script src="/scripts/entities/rss.js"></script>
    <script src="/scripts/entities/scans.js"></script>
    <script src="/scripts/entities/stats.js"></script>
    <script src="/scripts/entities/todos.js"></script>
    <script src="/scripts/entities/users.js"></script>
    <script src="/scripts/entities/widgets.js"></script>
    <script src="/scripts/views/_base/_region.js"></script>
    <script src="/scripts/views/_base/_view.js"></script>
    <script src="/scripts/views/_base/collectionview.js"></script>
    <script src="/scripts/views/_base/compositeview.js"></script>
    <script src="/scripts/views/_base/itemview.js"></script>
    <script src="/scripts/views/_base/layout.js"></script>
    <script src="/scripts/components/breadcrumbs/breadcrumbs_controller.js"></script>
    <script src="/scripts/components/breadcrumbs/breadcrumbs_view.js"></script>
    <script src="/scripts/components/flash/flash_controller.js"></script>
    <script src="/scripts/components/flash/flash_view.js"></script>
    <script src="/scripts/components/loading/loading_controller.js"></script>
    <script src="/scripts/components/loading/loading_view.js"></script>
    <script src="/scripts/components/page/page_controller.js"></script>
    <script src="/scripts/components/page/page_view.js"></script>
    <script src="/scripts/components/toolbar/toolbar_controller.js"></script>
    <script src="/scripts/components/toolbar/toolbar_view.js"></script>
    <script src="/scripts/apps/_core/core_app.js"></script>
    <script src="/scripts/apps/_core/not_found/list_controller.js"></script>
    <script src="/scripts/apps/_core/not_found/list_view.js"></script>
    <script src="/scripts/apps/dashboard/dashboard_app.js"></script>
    <script src="/scripts/apps/dashboard/show/show_controller.js"></script>
    <script src="/scripts/apps/dashboard/show/show_view.js"></script>
    <script src="/scripts/apps/dashboard_apps/dashboard_apps_app.js"></script>
    <script src="/scripts/apps/dashboard_apps/list/list_controller.js"></script>
    <script src="/scripts/apps/dashboard_apps/list/list_view.js"></script>
    <script src="/scripts/apps/dashboard_documents/dashboard_documents_app.js"></script>
    <script src="/scripts/apps/dashboard_documents/list/list_controller.js"></script>
    <script src="/scripts/apps/dashboard_documents/list/list_view.js"></script>
    <script src="/scripts/apps/dashboard_scans/dashboard_scans_app.js"></script>
    <script src="/scripts/apps/dashboard_scans/list/list_controller.js"></script>
    <script src="/scripts/apps/dashboard_scans/list/list_view.js"></script>
    <script src="/scripts/apps/dashboard_stats/dashboard_stats_app.js"></script>
    <script src="/scripts/apps/dashboard_stats/show/show_controller.js"></script>
    <script src="/scripts/apps/dashboard_stats/show/show_view.js"></script>
    <script src="/scripts/apps/documents/documents_app.js"></script>
    <script src="/scripts/apps/documents/list/list_controller.js"></script>
    <script src="/scripts/apps/documents/list/list_view.js"></script>
    <script src="/scripts/apps/documents/new/new_controller.js"></script>
    <script src="/scripts/apps/documents/new/new_view.js"></script>
    <script src="/scripts/apps/documents/show/show_controller.js"></script>
    <script src="/scripts/apps/documents/show/show_view.js"></script>
    <script src="/scripts/apps/folder_documents/folder_documents_app.js"></script>
    <script src="/scripts/apps/folder_documents/new/new_controller.js"></script>
    <script src="/scripts/apps/folder_documents/new/new_view.js"></script>
    <script src="/scripts/apps/folder_files/folder_files_app.js"></script>
    <script src="/scripts/apps/folder_files/list/list_controller.js"></script>
    <script src="/scripts/apps/folder_files/list/list_view.js"></script>
    <script src="/scripts/apps/folders/folders_app.js"></script>
    <script src="/scripts/apps/folders/new/new_controller.js"></script>
    <script src="/scripts/apps/folders/new/new_view.js"></script>
    <script src="/scripts/apps/folders/show/show_controller.js"></script>
    <script src="/scripts/apps/folders/show/show_view.js"></script>
    <script src="/scripts/apps/footer/footer_app.js"></script>
    <script src="/scripts/apps/footer/show/show_controller.js"></script>
    <script src="/scripts/apps/footer/show/show_view.js"></script>
    <script src="/scripts/apps/header/header_app.js"></script>
    <script src="/scripts/apps/header/list/list_controller.js"></script>
    <script src="/scripts/apps/header/list/list_view.js"></script>
    <script src="/scripts/apps/header_scans/header_scans_app.js"></script>
    <script src="/scripts/apps/header_scans/list/list_controller.js"></script>
    <script src="/scripts/apps/header_scans/list/list_view.js"></script>
    <script src="/scripts/apps/scans/list/list_controller.js"></script>
    <script src="/scripts/apps/scans/list/list_view.js"></script>
    <script src="/scripts/apps/scans/new/new_controller.js"></script>
    <script src="/scripts/apps/scans/new/new_view.js"></script>
    <script src="/scripts/apps/scans/scans_app.js"></script>
    <script src="/scripts/apps/search/list/list_controller.js"></script>
    <script src="/scripts/apps/search/list/list_view.js"></script>
    <script src="/scripts/apps/search/search_app.js"></script>
    <script src="/scripts/apps/sidebar/show/show_controller.js"></script>
    <script src="/scripts/apps/sidebar/show/show_view.js"></script>
    <script src="/scripts/apps/sidebar/sidebar_app.js"></script>
    <script src="/scripts/apps/sidebar_search/list/list_controller.js"></script>
    <script src="/scripts/apps/sidebar_search/list/list_view.js"></script>
    <script src="/scripts/apps/sidebar_search/sidebar_search_app.js"></script>
    <script src="/scripts/apps/todos/list/list_controller.js"></script>
    <script src="/scripts/apps/todos/list/list_view.js"></script>
    <script src="/scripts/apps/todos/list/widget_list_controller.js"></script>
    <script src="/scripts/apps/todos/list/widget_list_view.js"></script>
    <script src="/scripts/apps/todos/todos_app.js"></script>
    <script src="/scripts/apps/todos/todos_widget.js"></script>
    <script src="/scripts/apps/users/list/list_controller.js"></script>
    <script src="/scripts/apps/users/list/list_view.js"></script>
    <script src="/scripts/apps/users/new/new_controller.js"></script>
    <script src="/scripts/apps/users/new/new_view.js"></script>
    <script src="/scripts/apps/users/show/show_controller.js"></script>
    <script src="/scripts/apps/users/show/show_view.js"></script>
    <script src="/scripts/apps/users/users_app.js"></script>
    <script src="/scripts/apps/widget_default/show/show_controller.js"></script>
    <script src="/scripts/apps/widget_default/show/show_view.js"></script>
    <script src="/scripts/apps/widget_default/widget_default_app.js"></script>
    <script src="/scripts/apps/widget_rss/list/list_controller.js"></script>
    <script src="/scripts/apps/widget_rss/list/list_view.js"></script>
    <script src="/scripts/apps/widget_rss/widget_rss_app.js"></script>
    <script src="/scripts/apps/widgets/list/list_controller.js"></script>
    <script src="/scripts/apps/widgets/list/list_view.js"></script>
    <script src="/scripts/apps/widgets/widgets_app.js"></script>
    <!--SCRIPTS END-->

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        
    <script type="text/javascript">

        google.load("feeds", "1");

        $(function() {
            Bamboo.current_user = new
            Bamboo.Entities.User({});
            Bamboo.current_user.set({ authenticity_token: '' });
            Bamboo.start();
        });
    
    </script>
  </body>
</html>
